.navbarMainHeader{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: purple;
  color: lightgrey;
  margin: 0;
  height: 10vh;
}

ul{
  list-style-type: none;
  width: 100%;
  margin: 0;
  padding: 0;
}

li{
  display: flex;
  background-color: lavender;
  align-items: center;
  justify-content: center;
  border: 2px solid black;
  padding: 0;
  height: 5vh;
  width: 100%;
}

li:hover{
  background-color: purple;
  color: white;
}
